---
openapi: 3.1.0
info:
  title: Eazybe Meta API Documentation
  version: 1.0.0
  description: |
    A single authenticated Eazybe REST surface over WhatsApp Business Cloud API.
    The wrapper uses the Meta credentials captured when a WABA is connected to
    Eazybe, so callers never send Meta access tokens directly.
servers:
- url: https://cerberus.eazybe.com/prod/api/v2
  description: Eazybe prod API v2.
security:
- bearerAuth: []
tags:
- name: Phone numbers
  description: Discover connected WABAs and phone-number IDs.
- name: Messaging
  description: Send WhatsApp messages and update message state.
- name: Templates
  description: Manage WhatsApp message templates.
- name: Media
  description: Upload, inspect, and delete WhatsApp media.
- name: Webhooks
  description: Manage WABA webhook subscriptions.
- name: Analytics
  description: Read messaging, conversation, pricing, and template analytics.
- name: Profiles and settings
  description: Manage business profiles and phone-number settings.
- name: Automation
  description: Configure welcome messages, ice-breakers, and commands.
- name: QR codes
  description: Manage click-to-chat QR codes.
- name: Flows
  description: Manage the WhatsApp Flows lifecycle.
- name: Number administration
  description: Register numbers, manage PINs, and synchronize coexistence data.
- name: Block list
  description: List, block, and unblock WhatsApp users.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Eazybe token
      description: |
        Eazybe bearer token. The token resolves the caller's organization and
        must be kept on the server.
  parameters:
    PhoneNumberId:
      name: phoneNumberId
      in: path
      required: true
      description: Meta phone-number ID returned by `GET /meta/phone-numbers`.
      schema:
        type: string
      example: '5647382910'
    WabaId:
      name: wabaId
      in: path
      required: true
      description: WhatsApp Business Account ID returned by `GET /meta/phone-numbers`.
      schema:
        type: string
      example: '1029384756'
    Fields:
      name: fields
      in: query
      required: false
      description: Comma-separated Graph API fields. Omit to use the endpoint defaults.
      schema:
        type: string
    PagingLimit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return in one Meta page.
      schema:
        type: integer
        minimum: 1
    PagingAfter:
      name: after
      in: query
      required: false
      description: Meta paging cursor from the previous response.
      schema:
        type: string
  responses:
    BadRequest:
      description: Meta rejected the request or a required value is invalid.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: The Eazybe bearer token is missing, invalid, or expired.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    NotFound:
      description: |
        The requested WABA or phone number is not connected to the authenticated
        organization, or its connection needs authorization.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Meta rate or usage limits were reached. Retry with exponential
        backoff.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    UpstreamError:
      description: Meta was unreachable or did not respond within 15 seconds.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
  schemas:
    MetaObject:
      type: object
      description: A WhatsApp Cloud API object passed through from Meta.
      additionalProperties: true
    MetaResponse:
      type: object
      description: A successful response passed through from WhatsApp Cloud API.
      additionalProperties: true
    ErrorResponse:
      type: object
      properties:
        status:
          type: boolean
          const: false
        message:
          type: string
        error:
          type: object
          additionalProperties: true
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: integer
              description: Meta error code. Use this value for programmatic handling.
            error_subcode:
              type: integer
            fbtrace_id:
              type: string
      required:
      - status
      - message
      example:
        status: false
        message: Template name does not exist in the translation
        error:
          message: Template name does not exist in the translation
          type: OAuthException
          code: 132001
          error_subcode: 2494010
          fbtrace_id: A1bC2dE3fG4
    PhoneNumber:
      type: object
      properties:
        id:
          type: string
          description: Use as `phoneNumberId` in phone-number routes.
        display_phone_number:
          type: string
        verified_name:
          type: string
        quality_rating:
          type: string
          enum:
          - GREEN
          - YELLOW
          - RED
          - UNKNOWN
        code_verification_status:
          type: string
        status:
          type: string
      required:
      - id
      - display_phone_number
    WabaAccount:
      type: object
      properties:
        waba_id:
          type: string
          description: Use as `wabaId` in WABA routes.
        status:
          type: boolean
        phone_numbers:
          type: array
          items:
            "$ref": "#/components/schemas/PhoneNumber"
        error:
          type: string
          description: Present when this WABA needs to be reconnected.
      required:
      - waba_id
      - status
    PhoneNumberListResponse:
      type: object
      properties:
        status:
          type: boolean
        status_code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            total_wabas:
              type: integer
            successful:
              type: integer
            failed:
              type: integer
            accounts:
              type: array
              items:
                "$ref": "#/components/schemas/WabaAccount"
          required:
          - total_wabas
          - successful
          - failed
          - accounts
      required:
      - status
      - status_code
      - message
      - data
    MessageTemplate:
      type: object
      properties:
        name:
          type: string
        language:
          type: object
          properties:
            code:
              type: string
          required:
          - code
        components:
          type: array
          items:
            "$ref": "#/components/schemas/MetaObject"
      required:
      - name
      - language
    SendTemplateRequest:
      type: object
      properties:
        to:
          type: string
          pattern: "^[0-9]+$"
          description: Recipient in international format without `+` or spaces.
          example: '919900000001'
        template:
          "$ref": "#/components/schemas/MessageTemplate"
      required:
      - to
      - template
    FreeFormRequest:
      type: object
      properties:
        to:
          type: string
          pattern: "^[0-9]+$"
          example: '919900000001'
        text:
          type: string
        previewUrl:
          type: boolean
          default: false
      required:
      - to
      - text
    BulkTemplateRequest:
      type: object
      properties:
        template:
          "$ref": "#/components/schemas/MessageTemplate"
        recipients:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              to:
                type: string
                pattern: "^[0-9]+$"
              components:
                type: array
                description: Overrides `template.components` for this recipient.
                items:
                  "$ref": "#/components/schemas/MetaObject"
            required:
            - to
        concurrency:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
        marketing:
          type: boolean
          default: false
          description: Route the whole batch through the MM Lite marketing path.
      required:
      - template
      - recipients
    BulkTemplateResponse:
      type: object
      properties:
        total:
          type: integer
        successful:
          type: integer
        failed:
          type: integer
        results:
          type: array
          items:
            type: object
            properties:
              to:
                type: string
              status:
                type: boolean
              data:
                "$ref": "#/components/schemas/MetaObject"
              error:
                type: string
      required:
      - total
      - successful
      - failed
      - results
    MessageIdRequest:
      type: object
      properties:
        messageId:
          type: string
          description: WhatsApp message ID (`wamid`).
      required:
      - messageId
    TemplateDefinition:
      type: object
      properties:
        name:
          type: string
        language:
          type: string
          example: en
        category:
          type: string
          enum:
          - AUTHENTICATION
          - MARKETING
          - UTILITY
        components:
          type: array
          items:
            "$ref": "#/components/schemas/MetaObject"
      required:
      - name
      - language
      - category
      - components
    BusinessProfile:
      type: object
      properties:
        about:
          type: string
        address:
          type: string
        description:
          type: string
        email:
          type: string
          format: email
        profile_picture_url:
          type: string
          format: uri
        websites:
          type: array
          items:
            type: string
            format: uri
        vertical:
          type: string
    WebhookSubscriptionRequest:
      type: object
      properties:
        overrideCallbackUri:
          type: string
          format: uri
          description: Public HTTPS URL that receives Meta webhook events.
        verifyToken:
          type: string
          description: Shared secret used during Meta callback verification.
      description: |
        Send both fields to use a custom callback. Send an empty object to use
        the default Eazybe callback.
    AutomationSettings:
      type: object
      properties:
        enable_welcome_message:
          type: boolean
        prompts:
          type: array
          description: Ice-breakers shown before the first message.
          items:
            type: string
        commands:
          type: array
          items:
            type: object
            properties:
              command_name:
                type: string
              command_description:
                type: string
            required:
            - command_name
            - command_description
    WaIdList:
      type: object
      properties:
        waIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: "^[0-9]+$"
      required:
      - waIds
paths:
  "/meta/phone-numbers":
    get:
      operationId: getPhoneNumbers
      summary: List connected phone numbers
      description: |
        Lists every WhatsApp Business Account and phone number connected to the
        authenticated Eazybe organization. Use the returned IDs in all other
        Meta wrapper routes.
      tags:
      - Phone numbers
      x-mint:
        href: "/api-reference/meta/operations/get-phone-numbers"
        content: "<Tip>Start here. This request verifies your token and returns the
          `wabaId` and `phoneNumberId` values used by the rest of the API.</Tip>\n"
      responses:
        '200':
          description: |-
            Phone numbers fetched (may include per-WABA failures)

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `400` | Token resolved to a user with no organization | Fix the user's org assignment |
            | `404` | No connected WABA account found for this organization | Complete WABA embedded signup |
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - data
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    required:
                    - total_wabas
                    - successful
                    - failed
                    - accounts
                    properties:
                      total_wabas:
                        type: integer
                      successful:
                        type: integer
                      failed:
                        type: integer
                      accounts:
                        type: array
                        items:
                          type: object
                          required:
                          - waba_id
                          - status
                          - phone_numbers
                          properties:
                            waba_id:
                              type: string
                            status:
                              type: boolean
                            phone_numbers:
                              type: array
                              items:
                                type: object
                                required:
                                - id
                                - display_phone_number
                                - verified_name
                                - quality_rating
                                - code_verification_status
                                - status
                                properties:
                                  id:
                                    type: string
                                  display_phone_number:
                                    type: string
                                  verified_name:
                                    type: string
                                  quality_rating:
                                    type: string
                                  code_verification_status:
                                    type: string
                                  status:
                                    type: string
              example:
                status: true
                message: Meta phone numbers fetched successfully
                data:
                  total_wabas: 2
                  successful: 1
                  failed: 1
                  accounts:
                  - waba_id: '1029384756'
                    status: true
                    phone_numbers:
                    - id: '5647382910'
                      display_phone_number: "+91 99000 00000"
                      verified_name: Acme Support
                      quality_rating: GREEN
                      code_verification_status: VERIFIED
                      status: CONNECTED
                  - waba_id: '2938475610'
                    status: false
                    phone_numbers: []
                    error: 'Error validating access token: Session has expired.'
  "/meta/phone-numbers/{phoneNumberId}/details":
    get:
      operationId: getPhoneNumberDetails
      summary: Get phone-number details
      description: Returns the number's display name, status, quality rating, and
        verification details.
      tags:
      - Phone numbers
      x-mint:
        href: "/api-reference/meta/operations/get-phone-number-details"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      - "$ref": "#/components/parameters/Fields"
      responses:
        '200':
          description: |-
            Details returned

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` is not linked to your organization | Verify the id from `GET /meta/phone-numbers` |
            | `400` | Invalid `fields` expression | Correct the field list |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - display_phone_number
                - verified_name
                - quality_rating
                - code_verification_status
                - status
                properties:
                  id:
                    type: string
                  display_phone_number:
                    type: string
                  verified_name:
                    type: string
                  quality_rating:
                    type: string
                  code_verification_status:
                    type: string
                  status:
                    type: string
              example:
                id: '5647382910'
                display_phone_number: "+91 99000 00000"
                verified_name: Acme Support
                quality_rating: GREEN
                code_verification_status: VERIFIED
                status: CONNECTED
  "/meta/wabas/{wabaId}/details":
    get:
      operationId: getWabaDetails
      summary: Get WABA details
      description: Returns details such as the WABA name, timezone, and template namespace.
      tags:
      - Phone numbers
      x-mint:
        href: "/api-reference/meta/operations/get-waba-details"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      - "$ref": "#/components/parameters/Fields"
      responses:
        '200':
          description: |-
            Details returned

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` is not linked to your organization | Verify the id from `GET /meta/phone-numbers` |
            | `400` | Invalid `fields` expression | Correct the field list |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - name
                - timezone_id
                - message_template_namespace
                - marketing_messages_onboarding_status
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  timezone_id:
                    type: string
                  message_template_namespace:
                    type: string
                  marketing_messages_onboarding_status:
                    type: string
              example:
                id: '1029384756'
                name: Acme Retail
                timezone_id: '58'
                message_template_namespace: a1b2c3d4_e5f6_7890_abcd_ef1234567890
                marketing_messages_onboarding_status: ONBOARDED
  "/meta/phone-numbers/{phoneNumberId}/messages":
    post:
      operationId: sendMessage
      summary: Send any supported message type
      description: |
        Sends a raw WhatsApp Cloud API message object. Use this route for image,
        document, video, audio, sticker, location, and interactive messages.
        Eazybe adds `messaging_product: whatsapp` automatically.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/send-message"
        content: "<Note>Free-form message types are available only inside the 24-hour
          customer-service window. Use an approved template outside that window.</Note>\n"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to
              - type
              - image
              properties:
                to:
                  type: string
                type:
                  type: string
                image:
                  type: object
                  required:
                  - id
                  - caption
                  properties:
                    id:
                      type: string
                    caption:
                      type: string
              description: |-
                ```json
                {
                  "to": "919900000001",
                  "type": "image",
                  "image": {
                    "id": "1234567890123456",
                    "caption": "Your invoice"
                  }
                }
                ```
            example:
              to: '919900000001'
              type: image
              image:
                id: '1234567890123456'
                caption: Your invoice
      responses:
        '200':
          description: |-
            Message accepted for delivery

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `500` | Gateway rejected the send — malformed message object, unopted-in recipient, closed 24-hour window, or rate limit | Read `message`; check server logs for the upstream body |
          content:
            application/json:
              schema:
                type: object
                required:
                - messaging_product
                - contacts
                - messages
                properties:
                  messaging_product:
                    type: string
                  contacts:
                    type: array
                    items:
                      type: object
                      required:
                      - input
                      - wa_id
                      properties:
                        input:
                          type: string
                        wa_id:
                          type: string
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - message_status
                      properties:
                        id:
                          type: string
                        message_status:
                          type: string
              example:
                messaging_product: whatsapp
                contacts:
                - input: '919900000001'
                  wa_id: '919900000001'
                messages:
                - id: wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgSN0EyRjc4...
                  message_status: accepted
  "/meta/phone-numbers/{phoneNumberId}/messages/template":
    post:
      operationId: sendTemplateMessage
      summary: Send a template message
      description: Sends an approved utility, authentication, or marketing template
        to one recipient.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/send-template-message"
        content: "<Tip>Confirm the template is `APPROVED` before sending. New templates
          begin in `PENDING` state.</Tip>\n"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to
              - template
              properties:
                to:
                  type: string
                template:
                  type: object
                  required:
                  - name
                  - language
                  - components
                  properties:
                    name:
                      type: string
                    language:
                      type: object
                      required:
                      - code
                      properties:
                        code:
                          type: string
                    components:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - parameters
                        properties:
                          type:
                            type: string
                          parameters:
                            type: array
                            items:
                              type: object
                              required:
                              - type
                              - text
                              properties:
                                type:
                                  type: string
                                text:
                                  type: string
              description: |-
                ```json
                {
                  "to": "919900000001",
                  "template": {
                    "name": "order_update",
                    "language": {
                      "code": "en"
                    },
                    "components": [
                      {
                        "type": "body",
                        "parameters": [
                          {
                            "type": "text",
                            "text": "Ravi"
                          }
                        ]
                      }
                    ]
                  }
                }
                ```
            example:
              to: '919900000001'
              template:
                name: order_update
                language:
                  code: en
                components:
                - type: body
                  parameters:
                  - type: text
                    text: Ravi
      responses:
        '200':
          description: |-
            Template accepted for delivery

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `500` | Template name/language not found, template not approved, or parameter count mismatch | Confirm the template is `APPROVED` and parameters match |
          content:
            application/json:
              schema:
                type: object
                required:
                - messaging_product
                - contacts
                - messages
                properties:
                  messaging_product:
                    type: string
                  contacts:
                    type: array
                    items:
                      type: object
                      required:
                      - input
                      - wa_id
                      properties:
                        input:
                          type: string
                        wa_id:
                          type: string
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - message_status
                      properties:
                        id:
                          type: string
                        message_status:
                          type: string
              example:
                messaging_product: whatsapp
                contacts:
                - input: '919900000001'
                  wa_id: '919900000001'
                messages:
                - id: wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgSN0EyRjc4...
                  message_status: accepted
  "/meta/phone-numbers/{phoneNumberId}/messages/marketing-template":
    post:
      operationId: sendMarketingTemplateMessage
      summary: Send a marketing template
      description: |
        Sends a template through Meta's MM Lite marketing route. The connected
        WABA must be onboarded to MM Lite.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/send-marketing-template"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to
              - template
              properties:
                to:
                  type: string
                template:
                  type: object
                  required:
                  - name
                  - language
                  - components
                  properties:
                    name:
                      type: string
                    language:
                      type: object
                      required:
                      - code
                      properties:
                        code:
                          type: string
                    components:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - parameters
                        properties:
                          type:
                            type: string
                          parameters:
                            type: array
                            items:
                              type: object
                              required:
                              - type
                              - text
                              properties:
                                type:
                                  type: string
                                text:
                                  type: string
              description: |-
                ```json
                {
                  "to": "919900000001",
                  "template": {
                    "name": "diwali_offer",
                    "language": {
                      "code": "en"
                    },
                    "components": [
                      {
                        "type": "body",
                        "parameters": [
                          {
                            "type": "text",
                            "text": "30%"
                          }
                        ]
                      }
                    ]
                  }
                }
                ```
            example:
              to: '919900000001'
              template:
                name: diwali_offer
                language:
                  code: en
                components:
                - type: body
                  parameters:
                  - type: text
                    text: 30%
      responses:
        '200':
          description: |-
            Marketing template accepted

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `500` | WABA not onboarded to MM Lite, template not `MARKETING`, or marketing limit reached | Check `marketing_messages_onboarding_status` via `GET /meta/wabas/{wabaId}/details` |
          content:
            application/json:
              schema:
                type: object
                required:
                - messaging_product
                - contacts
                - messages
                properties:
                  messaging_product:
                    type: string
                  contacts:
                    type: array
                    items:
                      type: object
                      required:
                      - input
                      - wa_id
                      properties:
                        input:
                          type: string
                        wa_id:
                          type: string
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - message_status
                      properties:
                        id:
                          type: string
                        message_status:
                          type: string
              example:
                messaging_product: whatsapp
                contacts:
                - input: '919900000001'
                  wa_id: '919900000001'
                messages:
                - id: wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgSQjc4RjIx...
                  message_status: accepted
  "/meta/phone-numbers/{phoneNumberId}/messages/template/bulk":
    post:
      operationId: sendBulkTemplateMessages
      summary: Send a template in bulk
      description: |
        Sends one template to multiple recipients with optional per-recipient
        components. The request returns a result for every recipient.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/send-bulk-template"
        content: "<Warning>A `200` response can include recipient failures. Always
          inspect `failed` and every item in `results[]`.</Warning>\n"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - template
              - recipients
              - concurrency
              - marketing
              properties:
                template:
                  type: object
                  required:
                  - name
                  - language
                  properties:
                    name:
                      type: string
                    language:
                      type: object
                      required:
                      - code
                      properties:
                        code:
                          type: string
                recipients:
                  type: array
                  items:
                    type: object
                    required:
                    - to
                    - components
                    properties:
                      to:
                        type: string
                      components:
                        type: array
                        items:
                          type: object
                          required:
                          - type
                          - parameters
                          properties:
                            type:
                              type: string
                            parameters:
                              type: array
                              items:
                                type: object
                                required:
                                - type
                                - text
                                properties:
                                  type:
                                    type: string
                                  text:
                                    type: string
                concurrency:
                  type: integer
                marketing:
                  type: boolean
              description: |-
                ```json
                {
                  "template": {
                    "name": "order_update",
                    "language": {
                      "code": "en"
                    }
                  },
                  "recipients": [
                    {
                      "to": "919900000001",
                      "components": [
                        {
                          "type": "body",
                          "parameters": [
                            {
                              "type": "text",
                              "text": "Ravi"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "to": "919900000002",
                      "components": [
                        {
                          "type": "body",
                          "parameters": [
                            {
                              "type": "text",
                              "text": "Priya"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "to": "919900000003"
                    }
                  ],
                  "concurrency": 10,
                  "marketing": false
                }
                ```
            example:
              template:
                name: order_update
                language:
                  code: en
              recipients:
              - to: '919900000001'
                components:
                - type: body
                  parameters:
                  - type: text
                    text: Ravi
              - to: '919900000002'
                components:
                - type: body
                  parameters:
                  - type: text
                    text: Priya
              - to: '919900000003'
              concurrency: 10
              marketing: false
      responses:
        '200':
          description: |-
            Batch processed (check `successful` / `failed`)

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `400` | DTO validation failed — empty `recipients`, `concurrency` outside 1–50, non-object `template`, or an unknown property | Read the `message` array |
            | `500` | The whole batch failed before per-recipient handling | Retry the batch |
          content:
            application/json:
              schema:
                type: object
                required:
                - total
                - successful
                - failed
                - results
                properties:
                  total:
                    type: integer
                  successful:
                    type: integer
                  failed:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      required:
                      - to
                      - status
                      - data
                      properties:
                        to:
                          type: string
                        status:
                          type: boolean
                        data:
                          type: object
                          required:
                          - messaging_product
                          - contacts
                          - messages
                          properties:
                            messaging_product:
                              type: string
                            contacts:
                              type: array
                              items:
                                type: object
                                required:
                                - input
                                - wa_id
                                properties:
                                  input:
                                    type: string
                                  wa_id:
                                    type: string
                            messages:
                              type: array
                              items:
                                type: object
                                required:
                                - id
                                - message_status
                                properties:
                                  id:
                                    type: string
                                  message_status:
                                    type: string
              example:
                total: 3
                successful: 2
                failed: 1
                results:
                - to: '919900000001'
                  status: true
                  data:
                    messaging_product: whatsapp
                    contacts:
                    - input: '919900000001'
                      wa_id: '919900000001'
                    messages:
                    - id: wamid.HBgMOTE5OTAwMDAwMDAx...
                      message_status: accepted
                - to: '919900000002'
                  status: true
                  data:
                    messaging_product: whatsapp
                    contacts:
                    - input: '919900000002'
                      wa_id: '919900000002'
                    messages:
                    - id: wamid.HBgMOTE5OTAwMDAwMDAy...
                      message_status: accepted
                - to: '919900000003'
                  status: false
                  error: Request failed with status code 400
  "/meta/phone-numbers/{phoneNumberId}/messages/free-form":
    post:
      operationId: sendFreeFormMessage
      summary: Send a free-form text message
      description: Sends plain text inside the 24-hour customer-service window.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/send-free-form-message"
        content: "<Warning>This endpoint fails outside the 24-hour customer-service
          window. Use an approved template instead.</Warning>\n"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to
              - text
              - previewUrl
              properties:
                to:
                  type: string
                text:
                  type: string
                previewUrl:
                  type: boolean
              description: |-
                ```json
                {
                  "to": "919900000001",
                  "text": "Your order is out for delivery.",
                  "previewUrl": false
                }
                ```
            example:
              to: '919900000001'
              text: Your order is out for delivery.
              previewUrl: false
      responses:
        '200':
          description: |-
            Text accepted for delivery

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `500` | Outside the 24-hour customer service window, or recipient has not opted in | Send an approved template instead |
          content:
            application/json:
              schema:
                type: object
                required:
                - messaging_product
                - contacts
                - messages
                properties:
                  messaging_product:
                    type: string
                  contacts:
                    type: array
                    items:
                      type: object
                      required:
                      - input
                      - wa_id
                      properties:
                        input:
                          type: string
                        wa_id:
                          type: string
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - message_status
                      properties:
                        id:
                          type: string
                        message_status:
                          type: string
              example:
                messaging_product: whatsapp
                contacts:
                - input: '919900000001'
                  wa_id: '919900000001'
                messages:
                - id: wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgS...
                  message_status: accepted
  "/meta/phone-numbers/{phoneNumberId}/messages/read":
    post:
      operationId: markMessageRead
      summary: Mark a message as read
      description: Marks an inbound WhatsApp message as read.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/mark-message-read"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - messageId
              properties:
                messageId:
                  type: string
              description: |-
                ```json
                {
                  "messageId": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgUM0EyRjc4..."
                }
                ```
            example:
              messageId: wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgUM0EyRjc4...
      responses:
        '200':
          description: |-
            Message marked read (blue ticks)

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `500` | `messageId` unknown, already read, or older than 30 days | Use a `wamid` from a recent inbound webhook |
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
              example:
                success: true
  "/meta/phone-numbers/{phoneNumberId}/messages/reaction":
    post:
      operationId: reactToMessage
      summary: React to a message
      description: Adds an emoji reaction to a message. Send an empty emoji to remove
        a reaction.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/react-to-message"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to
              - messageId
              - emoji
              properties:
                to:
                  type: string
                messageId:
                  type: string
                emoji:
                  type: string
              description: "```json\n{\n  \"to\": \"919900000001\",\n  \"messageId\":
                \"wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgU...\",\n  \"emoji\": \"\U0001F44D\"\n}\n```"
            example:
              to: '919900000001'
              messageId: wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgU...
              emoji: "\U0001F44D"
      responses:
        '200':
          description: |-
            Reaction accepted

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `500` | Invalid `messageId`, or more than one emoji supplied | Send a single emoji and a valid `wamid` |
          content:
            application/json:
              schema:
                type: object
                required:
                - messaging_product
                - contacts
                - messages
                properties:
                  messaging_product:
                    type: string
                  contacts:
                    type: array
                    items:
                      type: object
                      required:
                      - input
                      - wa_id
                      properties:
                        input:
                          type: string
                        wa_id:
                          type: string
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - message_status
                      properties:
                        id:
                          type: string
                        message_status:
                          type: string
              example:
                messaging_product: whatsapp
                contacts:
                - input: '919900000001'
                  wa_id: '919900000001'
                messages:
                - id: wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgS...
                  message_status: accepted
  "/meta/phone-numbers/{phoneNumberId}/messages/contacts":
    post:
      operationId: sendContactCard
      summary: Send contact cards
      description: Sends one or more WhatsApp contact cards.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/send-contact-card"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to
              - contacts
              properties:
                to:
                  type: string
                contacts:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    - phones
                    - emails
                    properties:
                      name:
                        type: object
                        required:
                        - formatted_name
                        - first_name
                        properties:
                          formatted_name:
                            type: string
                          first_name:
                            type: string
                      phones:
                        type: array
                        items:
                          type: object
                          required:
                          - phone
                          - type
                          - wa_id
                          properties:
                            phone:
                              type: string
                            type:
                              type: string
                            wa_id:
                              type: string
                      emails:
                        type: array
                        items:
                          type: object
                          required:
                          - email
                          - type
                          properties:
                            email:
                              type: string
                            type:
                              type: string
              description: |-
                ```json
                {
                  "to": "919900000001",
                  "contacts": [
                    {
                      "name": {
                        "formatted_name": "Acme Support",
                        "first_name": "Acme"
                      },
                      "phones": [
                        {
                          "phone": "+919900000000",
                          "type": "WORK",
                          "wa_id": "919900000000"
                        }
                      ],
                      "emails": [
                        {
                          "email": "support@acme.com",
                          "type": "WORK"
                        }
                      ]
                    }
                  ]
                }
                ```
            example:
              to: '919900000001'
              contacts:
              - name:
                  formatted_name: Acme Support
                  first_name: Acme
                phones:
                - phone: "+919900000000"
                  type: WORK
                  wa_id: '919900000000'
                emails:
                - email: support@acme.com
                  type: WORK
      responses:
        '200':
          description: |-
            Contact card accepted

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `500` | `contacts` missing `name.formatted_name`, or outside the 24-hour window | Fix the contact object |
          content:
            application/json:
              schema:
                type: object
                required:
                - messaging_product
                - contacts
                - messages
                properties:
                  messaging_product:
                    type: string
                  contacts:
                    type: array
                    items:
                      type: object
                      required:
                      - input
                      - wa_id
                      properties:
                        input:
                          type: string
                        wa_id:
                          type: string
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - message_status
                      properties:
                        id:
                          type: string
                        message_status:
                          type: string
              example:
                messaging_product: whatsapp
                contacts:
                - input: '919900000001'
                  wa_id: '919900000001'
                messages:
                - id: wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgS...
                  message_status: accepted
  "/meta/phone-numbers/{phoneNumberId}/messages/typing-indicator":
    post:
      operationId: showTypingIndicator
      summary: Show a typing indicator
      description: Shows a typing indicator for an inbound message and also marks
        that message as read.
      tags:
      - Messaging
      x-mint:
        href: "/api-reference/meta/operations/show-typing-indicator"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - messageId
              - type
              properties:
                messageId:
                  type: string
                type:
                  type: string
              description: |-
                ```json
                {
                  "messageId": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgU...",
                  "type": "text"
                }
                ```
            example:
              messageId: wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgU...
              type: text
      responses:
        '200':
          description: |-
            Indicator shown (up to 25s or until you send)

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `500` | Invalid or expired `messageId` | Use a `wamid` from a recent inbound message |
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
              example:
                success: true
  "/meta/wabas/{wabaId}/templates":
    get:
      operationId: listTemplates
      summary: List templates
      description: Returns one Meta page of message templates for a WABA.
      tags:
      - Templates
      x-mint:
        href: "/api-reference/meta/operations/list-templates"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      - "$ref": "#/components/parameters/PagingLimit"
      - "$ref": "#/components/parameters/PagingAfter"
      - name: name
        in: query
        required: false
        description: Filter by template name.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Filter by Meta template status.
        schema:
          type: string
      - "$ref": "#/components/parameters/Fields"
      responses:
        '200':
          description: |-
            Page returned

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | Invalid query parameter or `fields` expression | Correct the query |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - paging
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - language
                      - status
                      - category
                      - components
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        language:
                          type: string
                        status:
                          type: string
                        category:
                          type: string
                        components:
                          type: array
                          items:
                            type: object
                            required:
                            - type
                            - text
                            properties:
                              type:
                                type: string
                              text:
                                type: string
                  paging:
                    type: object
                    required:
                    - cursors
                    - next
                    properties:
                      cursors:
                        type: object
                        required:
                        - before
                        - after
                        properties:
                          before:
                            type: string
                          after:
                            type: string
                      next:
                        type: string
              example:
                data:
                - id: '778899001122'
                  name: order_update
                  language: en
                  status: APPROVED
                  category: UTILITY
                  components:
                  - type: BODY
                    text: Hi {{1}}, your order is on its way.
                - id: '778899001123'
                  name: diwali_offer
                  language: en
                  status: APPROVED
                  category: MARKETING
                  components:
                  - type: BODY
                    text: Flat {{1}} off this Diwali.
                paging:
                  cursors:
                    before: MAZDZD
                    after: MjQZD
                  next: https://graph.facebook.com/v25.0/1029384756/message_templates?after=MjQZD
    post:
      operationId: createTemplate
      summary: Create a template
      description: Submits a new message template to Meta for approval.
      tags:
      - Templates
      x-mint:
        href: "/api-reference/meta/operations/create-template"
        content: "<Note>Approval is asynchronous. Poll the list endpoint or subscribe
          to the `message_template_status_update` webhook.</Note>\n"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - language
              - category
              - components
              properties:
                name:
                  type: string
                language:
                  type: string
                category:
                  type: string
                components:
                  type: array
                  items:
                    type: object
                    required:
                    - type
                    - format
                    - text
                    - example
                    properties:
                      type:
                        type: string
                      format:
                        type: string
                      text:
                        type: string
                      example:
                        type: object
                        required:
                        - header_text
                        properties:
                          header_text:
                            type: array
                            items:
                              type: string
              description: |-
                ```json
                {
                  "name": "order_update",
                  "language": "en",
                  "category": "UTILITY",
                  "components": [
                    {
                      "type": "HEADER",
                      "format": "TEXT",
                      "text": "Order {{1}}",
                      "example": {
                        "header_text": [
                          "A-1042"
                        ]
                      }
                    },
                    {
                      "type": "BODY",
                      "text": "Hi {{1}}, your order is on its way.",
                      "example": {
                        "body_text": [
                          [
                            "Ravi"
                          ]
                        ]
                      }
                    },
                    {
                      "type": "FOOTER",
                      "text": "Acme Retail"
                    }
                  ]
                }
                ```
            example:
              name: order_update
              language: en
              category: UTILITY
              components:
              - type: HEADER
                format: TEXT
                text: Order {{1}}
                example:
                  header_text:
                  - A-1042
              - type: BODY
                text: Hi {{1}}, your order is on its way.
                example:
                  body_text:
                  - - Ravi
              - type: FOOTER
                text: Acme Retail
      responses:
        '200':
          description: |-
            Template submitted for review

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | Duplicate name+language, missing `example` values, invalid category, or malformed components | Read `error.error_user_msg` |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - status
                - category
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  category:
                    type: string
              example:
                id: '778899001125'
                status: PENDING
                category: UTILITY
  "/meta/wabas/{wabaId}/templates/all":
    get:
      operationId: listAllTemplates
      summary: List all templates
      description: Auto-paginates Meta and returns a flat array containing every matching
        template.
      tags:
      - Templates
      x-mint:
        href: "/api-reference/meta/operations/list-all-templates"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      - name: name
        in: query
        required: false
        description: Filter by template name.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Filter by Meta template status.
        schema:
          type: string
      - "$ref": "#/components/parameters/Fields"
      responses:
        '200':
          description: |-
            All templates returned as a flat array

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | Invalid query parameter | Correct the query |
            | `502` | Graph unreachable or timed out mid-pagination | Retry; partial pages are not returned |
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - name
                  - language
                  - status
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    language:
                      type: string
                    status:
                      type: string
              example:
              - id: '778899001122'
                name: order_update
                language: en
                status: APPROVED
              - id: '778899001123'
                name: diwali_offer
                language: en
                status: APPROVED
              - id: '778899001124'
                name: payment_reminder
                language: en
                status: PENDING
  "/meta/wabas/{wabaId}/templates/library":
    post:
      operationId: createTemplateFromLibrary
      summary: Create a template from Meta's library
      description: Creates a WABA template from a pre-approved Meta template-library
        entry.
      tags:
      - Templates
      x-mint:
        href: "/api-reference/meta/operations/create-template-from-library"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - libraryTemplateName
              - template
              properties:
                libraryTemplateName:
                  type: string
                template:
                  type: object
                  required:
                  - name
                  - language
                  - category
                  properties:
                    name:
                      type: string
                    language:
                      type: string
                    category:
                      type: string
              description: |-
                ```json
                {
                  "libraryTemplateName": "order_confirmation_1",
                  "template": {
                    "name": "my_order_confirmation",
                    "language": "en",
                    "category": "UTILITY"
                  }
                }
                ```
            example:
              libraryTemplateName: order_confirmation_1
              template:
                name: my_order_confirmation
                language: en
                category: UTILITY
      responses:
        '200':
          description: |-
            Library template created (usually pre-approved)

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | `libraryTemplateName` does not exist, or name already used | Check Meta's template library catalogue |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - status
                - category
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  category:
                    type: string
              example:
                id: '778899001126'
                status: APPROVED
                category: UTILITY
  "/meta/wabas/{wabaId}/templates/migrate":
    post:
      operationId: migrateTemplates
      summary: Migrate templates from another WABA
      description: Copies eligible templates from a source WABA into the connected
        destination WABA.
      tags:
      - Templates
      x-mint:
        href: "/api-reference/meta/operations/migrate-templates"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - sourceWabaId
              - pageNumber
              properties:
                sourceWabaId:
                  type: string
                pageNumber:
                  type: integer
              description: |-
                ```json
                {
                  "sourceWabaId": "1122334455",
                  "pageNumber": 0
                }
                ```
            example:
              sourceWabaId: '1122334455'
              pageNumber: 0
      responses:
        '200':
          description: |-
            Migration page processed

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | Destination `wabaId` not linked to your organization | Verify the id |
            | `400` | `sourceWabaId` not owned by the same business, or not accessible | Confirm both WABAs sit under one business |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - migrated_templates
                - failed_templates
                properties:
                  migrated_templates:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                  failed_templates:
                    type: array
                    items:
                      type: object
                      required:
                      - name
                      - reason
                      properties:
                        name:
                          type: string
                        reason:
                          type: string
              example:
                migrated_templates:
                - id: '778899001127'
                  name: order_update
                - id: '778899001128'
                  name: payment_reminder
                failed_templates:
                - name: old_promo
                  reason: TEMPLATE_NAME_ALREADY_EXISTS
  "/meta/wabas/{wabaId}/templates/compare":
    get:
      operationId: compareTemplates
      summary: Compare template performance
      description: Compares one template's performance with one or more other templates.
      tags:
      - Templates
      x-mint:
        href: "/api-reference/meta/operations/compare-templates"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      - name: templateId
        in: query
        required: true
        description: Template ID used as the comparison baseline.
        schema:
          type: string
      - name: comparedTo
        in: query
        required: true
        description: Comma-separated template IDs to compare with the baseline.
        schema:
          type: string
      - name: start
        in: query
        required: false
        description: Start of the comparison range in Unix seconds.
        schema:
          type: integer
      - name: end
        in: query
        required: false
        description: End of the comparison range in Unix seconds.
        schema:
          type: integer
      responses:
        '200':
          description: |-
            Comparison returned

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | Missing/invalid `start` or `end`, or templates not comparable (different category or language) | Compare templates of the same category |
            | `500` | `comparedTo` omitted from the query | Always send `comparedTo` |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - compared_to
                      - start
                      - end
                      - metrics
                      properties:
                        compared_to:
                          type: string
                        start:
                          type: integer
                        end:
                          type: integer
                        metrics:
                          type: array
                          items:
                            type: object
                            required:
                            - type
                            - order
                            - values
                            properties:
                              type:
                                type: string
                              order:
                                type: string
                              values:
                                type: array
                                items:
                                  type: integer
              example:
                data:
                - compared_to: '778899001123'
                  start: 1753900000
                  end: 1754500000
                  metrics:
                  - type: SENT
                    order: BASELINE_FIRST
                    values:
                    - 1200
                    - 980
                  - type: DELIVERED
                    order: BASELINE_FIRST
                    values:
                    - 1180
                    - 940
                  - type: READ
                    order: BASELINE_FIRST
                    values:
                    - 860
                    - 610
  "/meta/wabas/{wabaId}/templates/{templateIdOrName}":
    parameters:
    - "$ref": "#/components/parameters/WabaId"
    - name: templateIdOrName
      in: path
      required: true
      description: Use a template ID when editing and a template name when deleting.
      schema:
        type: string
    post:
      operationId: editTemplate
      summary: Edit a template
      description: Updates an existing template using its Meta template ID.
      tags:
      - Templates
      x-mint:
        href: "/api-reference/meta/operations/edit-template"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - components
              properties:
                components:
                  type: array
                  items:
                    type: object
                    required:
                    - type
                    - text
                    - example
                    properties:
                      type:
                        type: string
                      text:
                        type: string
                      example:
                        type: object
                        required:
                        - body_text
                        properties:
                          body_text:
                            type: array
                            items:
                              type: array
                              items:
                                type: string
              description: |-
                ```json
                {
                  "components": [
                    {
                      "type": "BODY",
                      "text": "Hi {{1}}, your order has shipped.",
                      "example": {
                        "body_text": [
                          [
                            "Ravi"
                          ]
                        ]
                      }
                    }
                  ]
                }
                ```
            example:
              components:
              - type: BODY
                text: Hi {{1}}, your order has shipped.
                example:
                  body_text:
                  - - Ravi
      responses:
        '200':
          description: |-
            Edit submitted (template returns to review)

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | Template not editable (`PENDING`, or edit limit reached), or `templateId` unknown | Only `APPROVED`/`REJECTED` templates can be edited, max 10 edits/month |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
              example:
                success: true
    delete:
      operationId: deleteTemplate
      summary: Delete a template
      description: Deletes every language variant with the supplied template name.
      tags:
      - Templates
      x-mint:
        href: "/api-reference/meta/operations/delete-template"
        content: "<Warning>This permanently deletes template variants. Add `hsmId`
          to delete only one language variant.</Warning>\n"
      parameters:
      - name: hsmId
        in: query
        required: false
        description: Meta template ID. When present, delete only this language variant.
        schema:
          type: string
      responses:
        '200':
          description: |-
            Template deleted

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | Template name not found, or `hsmId` does not belong to that name | Confirm via `GET .../templates?name=` |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
              example:
                success: true
  "/meta/phone-numbers/{phoneNumberId}/media":
    post:
      operationId: uploadMedia
      summary: Upload media
      description: Uploads a media file to WhatsApp for later use in a message.
      tags:
      - Media
      x-mint:
        href: "/api-reference/meta/operations/upload-media"
        content: "<Note>WhatsApp limits apply: images 5 MB, documents 100 MB, video
          16 MB, and audio 16 MB.</Note>\n"
      parameters:
      - "$ref": "#/components/parameters/PhoneNumberId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
              description: |-
                ```bash
                curl -X POST "https://cerberus.eazybe.com/meta/phone-numbers/5647382910/media" \
                  -H "Authorization: Bearer <jwt>" \
                  -F "file=@invoice.pdf"
                ```
      responses:
        '200':
          description: |-
            Media uploaded

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` not linked to your organization | Verify the id |
            | `400` | Unsupported MIME type or file over WhatsApp's size limit (image 5 MB, document 100 MB, video/audio 16 MB) | Re-encode or compress |
            | `500` | No `file` field in the multipart body | Send as `multipart/form-data` with field `file` |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                properties:
                  id:
                    type: string
              example:
                id: '1234567890123456'
  "/meta/media/{mediaId}":
    parameters:
    - name: mediaId
      in: path
      required: true
      description: Media ID returned by the upload operation.
      schema:
        type: string
    - name: phoneNumberId
      in: query
      required: true
      description: Phone-number ID that owns the media.
      schema:
        type: string
    get:
      operationId: getMedia
      summary: Get media metadata
      description: Returns media metadata and a short-lived Meta download URL.
      tags:
      - Media
      x-mint:
        href: "/api-reference/meta/operations/get-media"
        content: "<Warning>The returned URL expires quickly and requires Meta authorization.
          Download it from your server instead of exposing it to a browser.</Warning>\n"
      responses:
        '200':
          description: |-
            Metadata returned

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` missing from the query or not linked to your organization | Always pass `?phoneNumberId=` |
            | `400` | `mediaId` unknown or already deleted | Re-upload the asset |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - url
                - mime_type
                - sha256
                - file_size
                - id
                - messaging_product
                properties:
                  url:
                    type: string
                  mime_type:
                    type: string
                  sha256:
                    type: string
                  file_size:
                    type: integer
                  id:
                    type: string
                  messaging_product:
                    type: string
              example:
                url: https://lookaside.fbsbx.com/whatsapp_business/attachments/?mid=1234567890123456&ext=1754500000&hash=ATtR2...
                mime_type: application/pdf
                sha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
                file_size: 84213
                id: '1234567890123456'
                messaging_product: whatsapp
    delete:
      operationId: deleteMedia
      summary: Delete media
      description: Permanently deletes an uploaded WhatsApp media asset.
      tags:
      - Media
      x-mint:
        href: "/api-reference/meta/operations/delete-media"
        content: "<Warning>Deletion cannot be undone. Confirm the media ID and owning
          phone-number ID before sending the request.</Warning>\n"
      responses:
        '200':
          description: |-
            Media deleted

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `phoneNumberId` missing from the query or not linked to your organization | Always pass `?phoneNumberId=` |
            | `400` | `mediaId` unknown or already deleted | Treat as already removed |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
              example:
                success: true
  "/meta/wabas/{wabaId}/webhook-subscriptions":
    parameters:
    - "$ref": "#/components/parameters/WabaId"
    get:
      operationId: listWebhookSubscriptions
      summary: List webhook subscriptions
      description: Returns the webhook subscriptions configured for a WABA.
      tags:
      - Webhooks
      x-mint:
        href: "/api-reference/meta/operations/list-webhook-subscriptions"
      responses:
        '200':
          description: |-
            Subscriptions returned (empty `data` = not subscribed)

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - whatsapp_business_api_data
                      - override_callback_uri
                      properties:
                        whatsapp_business_api_data:
                          type: object
                          required:
                          - id
                          - link
                          - name
                          properties:
                            id:
                              type: string
                            link:
                              type: string
                            name:
                              type: string
                        override_callback_uri:
                          type: string
              example:
                data:
                - whatsapp_business_api_data:
                    id: '9988776655'
                    link: https://www.facebook.com/games/?app_id=9988776655
                    name: Eazybe
                  override_callback_uri: https://your-app.com/webhooks/whatsapp
    post:
      operationId: createWebhookSubscription
      summary: Subscribe a WABA to webhooks
      description: |
        Subscribes the WABA to the default Eazybe callback or a custom callback.
        The callback must answer Meta's verification handshake with `hub.challenge`.
      tags:
      - Webhooks
      x-mint:
        href: "/api-reference/meta/operations/create-webhook-subscription"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - overrideCallbackUri
              - verifyToken
              properties:
                overrideCallbackUri:
                  type: string
                verifyToken:
                  type: string
              description: |-
                ```json
                {
                  "overrideCallbackUri": "https://your-app.com/webhooks/whatsapp",
                  "verifyToken": "shared-secret"
                }
                ```
            example:
              overrideCallbackUri: https://your-app.com/webhooks/whatsapp
              verifyToken: shared-secret
      responses:
        '200':
          description: |-
            App subscribed to this WABA's events

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | Callback URL failed Meta's verification handshake, or is not HTTPS | Return `hub.challenge` on the `GET` handshake |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
              example:
                success: true
    delete:
      operationId: deleteWebhookSubscription
      summary: Unsubscribe a WABA from webhooks
      description: Removes the WABA's webhook subscription.
      tags:
      - Webhooks
      x-mint:
        href: "/api-reference/meta/operations/delete-webhook-subscription"
        content: "<Warning>Inbound message and delivery events stop after this subscription
          is removed.</Warning>\n"
      responses:
        '200':
          description: |-
            Unsubscribed — inbound events stop

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | App was not subscribed | Treat as already unsubscribed |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
              example:
                success: true
  "/meta/wabas/{wabaId}/analytics":
    get:
      operationId: getMessagingAnalytics
      summary: Get messaging analytics
      description: Returns raw WABA messaging analytics using a Graph field expression.
      tags:
      - Analytics
      x-mint:
        href: "/api-reference/meta/operations/get-messaging-analytics"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      - name: fields
        in: query
        required: true
        description: Graph analytics field expression.
        schema:
          type: string
        example: analytics.start(1753900000).end(1754500000).granularity(DAY)
      responses:
        '200':
          description: |-
            Analytics returned

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | `fields` missing or malformed field expression | Send a full `analytics.start(..).end(..).granularity(..)` expression |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
                required:
                - analytics
                - id
                properties:
                  analytics:
                    type: object
                    required:
                    - phone_numbers
                    - country_codes
                    - granularity
                    - data_points
                    properties:
                      phone_numbers:
                        type: array
                        items:
                          type: string
                      country_codes:
                        type: array
                        items:
                          type: string
                      granularity:
                        type: string
                      data_points:
                        type: array
                        items:
                          type: object
                          required:
                          - start
                          - end
                          - sent
                          - delivered
                          properties:
                            start:
                              type: integer
                            end:
                              type: integer
                            sent:
                              type: integer
                            delivered:
                              type: integer
                  id:
                    type: string
              example:
                analytics:
                  phone_numbers:
                  - '919900000000'
                  country_codes:
                  - IN
                  granularity: DAY
                  data_points:
                  - start: 1753900000
                    end: 1753986400
                    sent: 1240
                    delivered: 1198
                  - start: 1753986400
                    end: 1754072800
                    sent: 980
                    delivered: 961
                id: '1029384756'
  "/meta/wabas/{wabaId}/template-analytics":
    get:
      operationId: getTemplateAnalytics
      summary: Get template analytics
      description: Returns template-level analytics using a Graph field expression.
      tags:
      - Analytics
      x-mint:
        href: "/api-reference/meta/operations/get-template-analytics"
      parameters:
      - "$ref": "#/components/parameters/WabaId"
      - name: fields
        in: query
        required: true
        description: Graph template-analytics field expression.
        schema:
          type: string
      responses:
        '200':
          description: |-
            Analytics returned

            **Failure responses**

            | **Status** | **Meaning** | **Action** |
            | --- | --- | --- |
            | `401` | Missing, invalid, or expired bearer token | Re-authenticate |
            | `404` | `wabaId` not linked to your organization | Verify the id |
            | `400` | `fields` missing, or template analytics not enabled for the WABA | Enable analytics in Business Manager |
            | `502` | Graph unreachable or timed out | Retry with backoff |
          content:
            application/json:
              schema:
                type: object
[...]
