{
  "openapi": "3.1.0",
  "info": {
    "title": "API Wrapper de Meta de Eazybe",
    "version": "1.0.0",
    "description": "Una superficie REST autenticada de Eazybe para la API de WhatsApp Business Cloud."
  },
  "servers": [
    {
      "url": "https://cerberus.eazybe.com/prod/api/v2",
      "description": "Sustituye este marcador por el host de la API de Eazybe asignado a tu entorno."
    }
  ],
  "security": [
    {
      "bearerAuth": [

      ]
    }
  ],
  "tags": [
    {
      "name": "Números de teléfono",
      "description": "Descubre las WABA y los identificadores de números de teléfono conectados."
    },
    {
      "name": "Mensajería",
      "description": "Envía mensajes de WhatsApp y actualiza su estado."
    },
    {
      "name": "Plantillas",
      "description": "Administra las plantillas de mensajes de WhatsApp."
    },
    {
      "name": "Archivos multimedia",
      "description": "Sube, consulta y elimina archivos multimedia de WhatsApp."
    },
    {
      "name": "Webhooks",
      "description": "Administra las suscripciones de webhooks de una WABA."
    },
    {
      "name": "Analíticas",
      "description": "Consulta analíticas de mensajería, conversaciones, precios y plantillas."
    },
    {
      "name": "Perfiles y configuración",
      "description": "Administra perfiles empresariales y ajustes de números de teléfono."
    },
    {
      "name": "Automatización",
      "description": "Configura mensajes de bienvenida, preguntas iniciales y comandos."
    },
    {
      "name": "Códigos QR",
      "description": "Administra códigos QR de clic para chatear."
    },
    {
      "name": "Flows",
      "description": "Administra el ciclo de vida de WhatsApp Flows."
    },
    {
      "name": "Administración de números",
      "description": "Registra números, administra PIN y sincroniza datos de coexistencia."
    },
    {
      "name": "Lista de bloqueados",
      "description": "Consulta, bloquea y desbloquea usuarios de WhatsApp."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Eazybe token",
        "description": "Token bearer de Eazybe. El token identifica la organización y debe mantenerse en el servidor."
      }
    },
    "parameters": {
      "PhoneNumberId": {
        "name": "phoneNumberId",
        "in": "path",
        "required": true,
        "description": "ID del número de teléfono devuelto por `GET /meta/phone-numbers`.",
        "schema": {
          "type": "string"
        },
        "example": "5647382910"
      },
      "WabaId": {
        "name": "wabaId",
        "in": "path",
        "required": true,
        "description": "ID de la cuenta de WhatsApp Business devuelto por `GET /meta/phone-numbers`.",
        "schema": {
          "type": "string"
        },
        "example": "1029384756"
      },
      "Fields": {
        "name": "fields",
        "in": "query",
        "required": false,
        "description": "Campos de Graph API separados por comas.",
        "schema": {
          "type": "string"
        }
      },
      "PagingLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Número máximo de elementos que se devolverán.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "PagingAfter": {
        "name": "after",
        "in": "query",
        "required": false,
        "description": "Cursor de paginación de Meta de la respuesta anterior.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Meta rechazó la solicitud o uno de los valores no es válido.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "El token bearer de Eazybe falta, no es válido o ha caducado.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "La WABA o el número solicitado no está conectado a la organización autenticada.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Se alcanzó un límite de Meta. Reintenta con espera exponencial.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UpstreamError": {
        "description": "Meta no estaba disponible o no respondió dentro de 15 segundos.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "MetaObject": {
        "type": "object",
        "description": "Objeto de WhatsApp Cloud API devuelto o aceptado por Meta.",
        "additionalProperties": true
      },
      "MetaResponse": {
        "type": "object",
        "description": "Respuesta correcta transmitida desde WhatsApp Cloud API.",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "const": false
          },
          "message": {
            "type": "string"
          },
          "error": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "integer",
                "description": "Código del recurso."
              },
              "error_subcode": {
                "type": "integer"
              },
              "fbtrace_id": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "status",
          "message"
        ],
        "example": {
          "status": false,
          "message": "Template name does not exist in the translation",
          "error": {
            "message": "Template name does not exist in the translation",
            "type": "OAuthException",
            "code": 132001,
            "error_subcode": 2494010,
            "fbtrace_id": "A1bC2dE3fG4"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_phone_number": {
            "type": "string"
          },
          "verified_name": {
            "type": "string"
          },
          "quality_rating": {
            "type": "string",
            "enum": [
              "GREEN",
              "YELLOW",
              "RED",
              "UNKNOWN"
            ]
          },
          "code_verification_status": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "display_phone_number"
        ]
      },
      "WabaAccount": {
        "type": "object",
        "properties": {
          "waba_id": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "waba_id",
          "status"
        ]
      },
      "PhoneNumberListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "total_wabas": {
                "type": "integer"
              },
              "successful": {
                "type": "integer"
              },
              "failed": {
                "type": "integer"
              },
              "accounts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WabaAccount"
                }
              }
            },
            "required": [
              "total_wabas",
              "successful",
              "failed",
              "accounts"
            ]
          }
        },
        "required": [
          "status",
          "status_code",
          "message",
          "data"
        ]
      },
      "MessageTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "language": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              }
            },
            "required": [
              "code"
            ]
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetaObject"
            }
          }
        },
        "required": [
          "name",
          "language"
        ]
      },
      "SendTemplateRequest": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "example": "919900000001"
          },
          "template": {
            "$ref": "#/components/schemas/MessageTemplate"
          }
        },
        "required": [
          "to",
          "template"
        ]
      },
      "FreeFormRequest": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "example": "919900000001"
          },
          "text": {
            "type": "string"
          },
          "previewUrl": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "to",
          "text"
        ]
      },
      "BulkTemplateRequest": {
        "type": "object",
        "properties": {
          "template": {
            "$ref": "#/components/schemas/MessageTemplate"
          },
          "recipients": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "pattern": "^[0-9]+$"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MetaObject"
                  }
                }
              },
              "required": [
                "to"
              ]
            }
          },
          "concurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 10
          },
          "marketing": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "template",
          "recipients"
        ]
      },
      "BulkTemplateResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "successful": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string"
                },
                "status": {
                  "type": "boolean"
                },
                "data": {
                  "$ref": "#/components/schemas/MetaObject"
                },
                "error": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "total",
          "successful",
          "failed",
          "results"
        ]
      },
      "MessageIdRequest": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "string"
          }
        },
        "required": [
          "messageId"
        ]
      },
      "TemplateDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "example": "en"
          },
          "category": {
            "type": "string",
            "enum": [
              "AUTHENTICATION",
              "MARKETING",
              "UTILITY"
            ]
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetaObject"
            }
          }
        },
        "required": [
          "name",
          "language",
          "category",
          "components"
        ]
      },
      "BusinessProfile": {
        "type": "object",
        "properties": {
          "about": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "profile_picture_url": {
            "type": "string",
            "format": "uri"
          },
          "websites": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "vertical": {
            "type": "string"
          }
        }
      },
      "WebhookSubscriptionRequest": {
        "type": "object",
        "properties": {
          "overrideCallbackUri": {
            "type": "string",
            "format": "uri"
          },
          "verifyToken": {
            "type": "string"
          }
        },
        "description": "Send both fields to use a custom callback. Send an empty object to use\nthe default Eazybe callback.\n"
      },
      "AutomationSettings": {
        "type": "object",
        "properties": {
          "enable_welcome_message": {
            "type": "boolean"
          },
          "prompts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "commands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "command_name": {
                  "type": "string"
                },
                "command_description": {
                  "type": "string"
                }
              },
              "required": [
                "command_name",
                "command_description"
              ]
            }
          }
        }
      },
      "WaIdList": {
        "type": "object",
        "properties": {
          "waIds": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "pattern": "^[0-9]+$"
            }
          }
        },
        "required": [
          "waIds"
        ]
      }
    }
  },
  "paths": {
    "/meta/phone-numbers": {
      "get": {
        "operationId": "getPhoneNumbers",
        "summary": "Listar números de teléfono conectados",
        "description": "Listar números de teléfono conectados. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Números de teléfono"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/get-phone-numbers",
          "metadata": {
            "title": "Listar números de teléfono conectados",
            "description": "Listar números de teléfono conectados. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Listar números de teléfono conectados"
          }
        },
        "responses": {
          "200": {
            "description": "Phone numbers fetched (may include per-WABA failures)\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `400` | Token resolved to a user with no organization | Fix the user's org assignment |\n| `404` | No connected WABA account found for this organization | Complete WABA embedded signup |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "total_wabas",
                        "successful",
                        "failed",
                        "accounts"
                      ],
                      "properties": {
                        "total_wabas": {
                          "type": "integer"
                        },
                        "successful": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "waba_id",
                              "status",
                              "phone_numbers"
                            ],
                            "properties": {
                              "waba_id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "boolean"
                              },
                              "phone_numbers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "display_phone_number",
                                    "verified_name",
                                    "quality_rating",
                                    "code_verification_status",
                                    "status"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "display_phone_number": {
                                      "type": "string"
                                    },
                                    "verified_name": {
                                      "type": "string"
                                    },
                                    "quality_rating": {
                                      "type": "string"
                                    },
                                    "code_verification_status": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Meta phone numbers fetched successfully",
                  "data": {
                    "total_wabas": 2,
                    "successful": 1,
                    "failed": 1,
                    "accounts": [
                      {
                        "waba_id": "1029384756",
                        "status": true,
                        "phone_numbers": [
                          {
                            "id": "5647382910",
                            "display_phone_number": "+91 99000 00000",
                            "verified_name": "Acme Support",
                            "quality_rating": "GREEN",
                            "code_verification_status": "VERIFIED",
                            "status": "CONNECTED"
                          }
                        ]
                      },
                      {
                        "waba_id": "2938475610",
                        "status": false,
                        "phone_numbers": [

                        ],
                        "error": "Error validating access token: Session has expired."
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/details": {
      "get": {
        "operationId": "getPhoneNumberDetails",
        "summary": "Obtener detalles del número de teléfono",
        "description": "Obtener detalles del número de teléfono. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Números de teléfono"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/get-phone-number-details",
          "metadata": {
            "title": "Obtener detalles del número de teléfono",
            "description": "Obtener detalles del número de teléfono. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Obtener detalles del número de teléfono"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          },
          {
            "$ref": "#/components/parameters/Fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Details returned\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` is not linked to your organization | Verify the id from `GET /meta/phone-numbers` |\n| `400` | Invalid `fields` expression | Correct the field list |\n| `502` | Graph unreachable or timed out | Retry with backoff |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "display_phone_number",
                    "verified_name",
                    "quality_rating",
                    "code_verification_status",
                    "status"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "display_phone_number": {
                      "type": "string"
                    },
                    "verified_name": {
                      "type": "string"
                    },
                    "quality_rating": {
                      "type": "string"
                    },
                    "code_verification_status": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "5647382910",
                  "display_phone_number": "+91 99000 00000",
                  "verified_name": "Acme Support",
                  "quality_rating": "GREEN",
                  "code_verification_status": "VERIFIED",
                  "status": "CONNECTED"
                }
              }
            }
          }
        }
      }
    },
    "/meta/wabas/{wabaId}/details": {
      "get": {
        "operationId": "getWabaDetails",
        "summary": "Obtener detalles de la WABA",
        "description": "Obtener detalles de la WABA. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Números de teléfono"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/get-waba-details",
          "metadata": {
            "title": "Obtener detalles de la WABA",
            "description": "Obtener detalles de la WABA. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Obtener detalles de la WABA"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/WabaId"
          },
          {
            "$ref": "#/components/parameters/Fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Details returned\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `wabaId` is not linked to your organization | Verify the id from `GET /meta/phone-numbers` |\n| `400` | Invalid `fields` expression | Correct the field list |\n| `502` | Graph unreachable or timed out | Retry with backoff |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "timezone_id",
                    "message_template_namespace",
                    "marketing_messages_onboarding_status"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "timezone_id": {
                      "type": "string"
                    },
                    "message_template_namespace": {
                      "type": "string"
                    },
                    "marketing_messages_onboarding_status": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "1029384756",
                  "name": "Acme Retail",
                  "timezone_id": "58",
                  "message_template_namespace": "a1b2c3d4_e5f6_7890_abcd_ef1234567890",
                  "marketing_messages_onboarding_status": "ONBOARDED"
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Enviar cualquier tipo de mensaje compatible",
        "description": "Enviar cualquier tipo de mensaje compatible. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/send-message",
          "metadata": {
            "title": "Enviar cualquier tipo de mensaje compatible",
            "description": "Enviar cualquier tipo de mensaje compatible. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Enviar cualquier tipo de mensaje compatible"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "type",
                  "image"
                ],
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "image": {
                    "type": "object",
                    "required": [
                      "id",
                      "caption"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "caption": {
                        "type": "string"
                      }
                    }
                  }
                },
                "description": "```json\n{\n  \"to\": \"919900000001\",\n  \"type\": \"image\",\n  \"image\": {\n    \"id\": \"1234567890123456\",\n    \"caption\": \"Your invoice\"\n  }\n}\n```"
              },
              "example": {
                "to": "919900000001",
                "type": "image",
                "image": {
                  "id": "1234567890123456",
                  "caption": "Your invoice"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted for delivery\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `500` | Gateway rejected the send — malformed message object, unopted-in recipient, closed 24-hour window, or rate limit | Read `message`; check server logs for the upstream body |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "messaging_product",
                    "contacts",
                    "messages"
                  ],
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "input",
                          "wa_id"
                        ],
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "wa_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "message_status"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "message_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [
                    {
                      "input": "919900000001",
                      "wa_id": "919900000001"
                    }
                  ],
                  "messages": [
                    {
                      "id": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgSN0EyRjc4...",
                      "message_status": "accepted"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages/template": {
      "post": {
        "operationId": "sendTemplateMessage",
        "summary": "Enviar un mensaje de plantilla",
        "description": "Enviar un mensaje de plantilla. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/send-template-message",
          "metadata": {
            "title": "Enviar un mensaje de plantilla",
            "description": "Enviar un mensaje de plantilla. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Enviar un mensaje de plantilla"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "template"
                ],
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "template": {
                    "type": "object",
                    "required": [
                      "name",
                      "language",
                      "components"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "language": {
                        "type": "object",
                        "required": [
                          "code"
                        ],
                        "properties": {
                          "code": {
                            "type": "string"
                          }
                        }
                      },
                      "components": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "parameters"
                          ],
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "description": "```json\n{\n  \"to\": \"919900000001\",\n  \"template\": {\n    \"name\": \"order_update\",\n    \"language\": {\n      \"code\": \"en\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Ravi\"\n          }\n        ]\n      }\n    ]\n  }\n}\n```"
              },
              "example": {
                "to": "919900000001",
                "template": {
                  "name": "order_update",
                  "language": {
                    "code": "en"
                  },
                  "components": [
                    {
                      "type": "body",
                      "parameters": [
                        {
                          "type": "text",
                          "text": "Ravi"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template accepted for delivery\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `500` | Template name/language not found, template not approved, or parameter count mismatch | Confirm the template is `APPROVED` and parameters match |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "messaging_product",
                    "contacts",
                    "messages"
                  ],
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "input",
                          "wa_id"
                        ],
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "wa_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "message_status"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "message_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [
                    {
                      "input": "919900000001",
                      "wa_id": "919900000001"
                    }
                  ],
                  "messages": [
                    {
                      "id": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgSN0EyRjc4...",
                      "message_status": "accepted"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages/marketing-template": {
      "post": {
        "operationId": "sendMarketingTemplateMessage",
        "summary": "Enviar una plantilla de marketing",
        "description": "Enviar una plantilla de marketing. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/send-marketing-template",
          "metadata": {
            "title": "Enviar una plantilla de marketing",
            "description": "Enviar una plantilla de marketing. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Enviar una plantilla de marketing"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "template"
                ],
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "template": {
                    "type": "object",
                    "required": [
                      "name",
                      "language",
                      "components"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "language": {
                        "type": "object",
                        "required": [
                          "code"
                        ],
                        "properties": {
                          "code": {
                            "type": "string"
                          }
                        }
                      },
                      "components": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "parameters"
                          ],
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "description": "```json\n{\n  \"to\": \"919900000001\",\n  \"template\": {\n    \"name\": \"diwali_offer\",\n    \"language\": {\n      \"code\": \"en\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"30%\"\n          }\n        ]\n      }\n    ]\n  }\n}\n```"
              },
              "example": {
                "to": "919900000001",
                "template": {
                  "name": "diwali_offer",
                  "language": {
                    "code": "en"
                  },
                  "components": [
                    {
                      "type": "body",
                      "parameters": [
                        {
                          "type": "text",
                          "text": "30%"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marketing template accepted\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `500` | WABA not onboarded to MM Lite, template not `MARKETING`, or marketing limit reached | Check `marketing_messages_onboarding_status` via `GET /meta/wabas/{wabaId}/details` |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "messaging_product",
                    "contacts",
                    "messages"
                  ],
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "input",
                          "wa_id"
                        ],
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "wa_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "message_status"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "message_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [
                    {
                      "input": "919900000001",
                      "wa_id": "919900000001"
                    }
                  ],
                  "messages": [
                    {
                      "id": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgSQjc4RjIx...",
                      "message_status": "accepted"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages/template/bulk": {
      "post": {
        "operationId": "sendBulkTemplateMessages",
        "summary": "Enviar una plantilla de forma masiva",
        "description": "Enviar una plantilla de forma masiva. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/send-bulk-template",
          "metadata": {
            "title": "Enviar una plantilla de forma masiva",
            "description": "Enviar una plantilla de forma masiva. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Enviar una plantilla de forma masiva"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template",
                  "recipients",
                  "concurrency",
                  "marketing"
                ],
                "properties": {
                  "template": {
                    "type": "object",
                    "required": [
                      "name",
                      "language"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "language": {
                        "type": "object",
                        "required": [
                          "code"
                        ],
                        "properties": {
                          "code": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "to",
                        "components"
                      ],
                      "properties": {
                        "to": {
                          "type": "string"
                        },
                        "components": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "type",
                              "parameters"
                            ],
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "type",
                                    "text"
                                  ],
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "concurrency": {
                    "type": "integer"
                  },
                  "marketing": {
                    "type": "boolean"
                  }
                },
                "description": "```json\n{\n  \"template\": {\n    \"name\": \"order_update\",\n    \"language\": {\n      \"code\": \"en\"\n    }\n  },\n  \"recipients\": [\n    {\n      \"to\": \"919900000001\",\n      \"components\": [\n        {\n          \"type\": \"body\",\n          \"parameters\": [\n            {\n              \"type\": \"text\",\n              \"text\": \"Ravi\"\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"to\": \"919900000002\",\n      \"components\": [\n        {\n          \"type\": \"body\",\n          \"parameters\": [\n            {\n              \"type\": \"text\",\n              \"text\": \"Priya\"\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"to\": \"919900000003\"\n    }\n  ],\n  \"concurrency\": 10,\n  \"marketing\": false\n}\n```"
              },
              "example": {
                "template": {
                  "name": "order_update",
                  "language": {
                    "code": "en"
                  }
                },
                "recipients": [
                  {
                    "to": "919900000001",
                    "components": [
                      {
                        "type": "body",
                        "parameters": [
                          {
                            "type": "text",
                            "text": "Ravi"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "to": "919900000002",
                    "components": [
                      {
                        "type": "body",
                        "parameters": [
                          {
                            "type": "text",
                            "text": "Priya"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "to": "919900000003"
                  }
                ],
                "concurrency": 10,
                "marketing": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processed (check `successful` / `failed`)\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `400` | DTO validation failed — empty `recipients`, `concurrency` outside 1–50, non-object `template`, or an unknown property | Read the `message` array |\n| `500` | The whole batch failed before per-recipient handling | Retry the batch |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total",
                    "successful",
                    "failed",
                    "results"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "successful": {
                      "type": "integer"
                    },
                    "failed": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "to",
                          "status",
                          "data"
                        ],
                        "properties": {
                          "to": {
                            "type": "string"
                          },
                          "status": {
                            "type": "boolean"
                          },
                          "data": {
                            "type": "object",
                            "required": [
                              "messaging_product",
                              "contacts",
                              "messages"
                            ],
                            "properties": {
                              "messaging_product": {
                                "type": "string"
                              },
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "input",
                                    "wa_id"
                                  ],
                                  "properties": {
                                    "input": {
                                      "type": "string"
                                    },
                                    "wa_id": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "messages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "message_status"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "message_status": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "total": 3,
                  "successful": 2,
                  "failed": 1,
                  "results": [
                    {
                      "to": "919900000001",
                      "status": true,
                      "data": {
                        "messaging_product": "whatsapp",
                        "contacts": [
                          {
                            "input": "919900000001",
                            "wa_id": "919900000001"
                          }
                        ],
                        "messages": [
                          {
                            "id": "wamid.HBgMOTE5OTAwMDAwMDAx...",
                            "message_status": "accepted"
                          }
                        ]
                      }
                    },
                    {
                      "to": "919900000002",
                      "status": true,
                      "data": {
                        "messaging_product": "whatsapp",
                        "contacts": [
                          {
                            "input": "919900000002",
                            "wa_id": "919900000002"
                          }
                        ],
                        "messages": [
                          {
                            "id": "wamid.HBgMOTE5OTAwMDAwMDAy...",
                            "message_status": "accepted"
                          }
                        ]
                      }
                    },
                    {
                      "to": "919900000003",
                      "status": false,
                      "error": "Request failed with status code 400"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages/free-form": {
      "post": {
        "operationId": "sendFreeFormMessage",
        "summary": "Enviar un mensaje de texto libre",
        "description": "Enviar un mensaje de texto libre. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/send-free-form-message",
          "metadata": {
            "title": "Enviar un mensaje de texto libre",
            "description": "Enviar un mensaje de texto libre. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Enviar un mensaje de texto libre"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "text",
                  "previewUrl"
                ],
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "previewUrl": {
                    "type": "boolean"
                  }
                },
                "description": "```json\n{\n  \"to\": \"919900000001\",\n  \"text\": \"Your order is out for delivery.\",\n  \"previewUrl\": false\n}\n```"
              },
              "example": {
                "to": "919900000001",
                "text": "Your order is out for delivery.",
                "previewUrl": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text accepted for delivery\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `500` | Outside the 24-hour customer service window, or recipient has not opted in | Send an approved template instead |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "messaging_product",
                    "contacts",
                    "messages"
                  ],
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "input",
                          "wa_id"
                        ],
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "wa_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "message_status"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "message_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [
                    {
                      "input": "919900000001",
                      "wa_id": "919900000001"
                    }
                  ],
                  "messages": [
                    {
                      "id": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgS...",
                      "message_status": "accepted"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages/read": {
      "post": {
        "operationId": "markMessageRead",
        "summary": "Marcar un mensaje como leído",
        "description": "Marcar un mensaje como leído. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/mark-message-read",
          "metadata": {
            "title": "Marcar un mensaje como leído",
            "description": "Marcar un mensaje como leído. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Marcar un mensaje como leído"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messageId"
                ],
                "properties": {
                  "messageId": {
                    "type": "string"
                  }
                },
                "description": "```json\n{\n  \"messageId\": \"wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgUM0EyRjc4...\"\n}\n```"
              },
              "example": {
                "messageId": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgUM0EyRjc4..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message marked read (blue ticks)\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `500` | `messageId` unknown, already read, or older than 30 days | Use a `wamid` from a recent inbound webhook |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages/reaction": {
      "post": {
        "operationId": "reactToMessage",
        "summary": "Reaccionar a un mensaje",
        "description": "Reaccionar a un mensaje. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/react-to-message",
          "metadata": {
            "title": "Reaccionar a un mensaje",
            "description": "Reaccionar a un mensaje. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Reaccionar a un mensaje"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "messageId",
                  "emoji"
                ],
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "messageId": {
                    "type": "string"
                  },
                  "emoji": {
                    "type": "string"
                  }
                },
                "description": "```json\n{\n  \"to\": \"919900000001\",\n  \"messageId\": \"wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgU...\",\n  \"emoji\": \"👍\"\n}\n```"
              },
              "example": {
                "to": "919900000001",
                "messageId": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgU...",
                "emoji": "👍"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reaction accepted\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `500` | Invalid `messageId`, or more than one emoji supplied | Send a single emoji and a valid `wamid` |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "messaging_product",
                    "contacts",
                    "messages"
                  ],
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "input",
                          "wa_id"
                        ],
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "wa_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "message_status"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "message_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [
                    {
                      "input": "919900000001",
                      "wa_id": "919900000001"
                    }
                  ],
                  "messages": [
                    {
                      "id": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgS...",
                      "message_status": "accepted"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages/contacts": {
      "post": {
        "operationId": "sendContactCard",
        "summary": "Enviar tarjetas de contacto",
        "description": "Enviar tarjetas de contacto. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/send-contact-card",
          "metadata": {
            "title": "Enviar tarjetas de contacto",
            "description": "Enviar tarjetas de contacto. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Enviar tarjetas de contacto"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "contacts"
                ],
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "phones",
                        "emails"
                      ],
                      "properties": {
                        "name": {
                          "type": "object",
                          "required": [
                            "formatted_name",
                            "first_name"
                          ],
                          "properties": {
                            "formatted_name": {
                              "type": "string"
                            },
                            "first_name": {
                              "type": "string"
                            }
                          }
                        },
                        "phones": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "phone",
                              "type",
                              "wa_id"
                            ],
                            "properties": {
                              "phone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "wa_id": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "email",
                              "type"
                            ],
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "description": "```json\n{\n  \"to\": \"919900000001\",\n  \"contacts\": [\n    {\n      \"name\": {\n        \"formatted_name\": \"Acme Support\",\n        \"first_name\": \"Acme\"\n      },\n      \"phones\": [\n        {\n          \"phone\": \"+919900000000\",\n          \"type\": \"WORK\",\n          \"wa_id\": \"919900000000\"\n        }\n      ],\n      \"emails\": [\n        {\n          \"email\": \"support@acme.com\",\n          \"type\": \"WORK\"\n        }\n      ]\n    }\n  ]\n}\n```"
              },
              "example": {
                "to": "919900000001",
                "contacts": [
                  {
                    "name": {
                      "formatted_name": "Acme Support",
                      "first_name": "Acme"
                    },
                    "phones": [
                      {
                        "phone": "+919900000000",
                        "type": "WORK",
                        "wa_id": "919900000000"
                      }
                    ],
                    "emails": [
                      {
                        "email": "support@acme.com",
                        "type": "WORK"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact card accepted\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `500` | `contacts` missing `name.formatted_name`, or outside the 24-hour window | Fix the contact object |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "messaging_product",
                    "contacts",
                    "messages"
                  ],
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "input",
                          "wa_id"
                        ],
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "wa_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "message_status"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "message_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [
                    {
                      "input": "919900000001",
                      "wa_id": "919900000001"
                    }
                  ],
                  "messages": [
                    {
                      "id": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAERgS...",
                      "message_status": "accepted"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/meta/phone-numbers/{phoneNumberId}/messages/typing-indicator": {
      "post": {
        "operationId": "showTypingIndicator",
        "summary": "Mostrar un indicador de escritura",
        "description": "Mostrar un indicador de escritura. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Mensajería"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/show-typing-indicator",
          "metadata": {
            "title": "Mostrar un indicador de escritura",
            "description": "Mostrar un indicador de escritura. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Mostrar un indicador de escritura"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/PhoneNumberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messageId",
                  "type"
                ],
                "properties": {
                  "messageId": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "description": "```json\n{\n  \"messageId\": \"wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgU...\",\n  \"type\": \"text\"\n}\n```"
              },
              "example": {
                "messageId": "wamid.HBgMOTE5OTAwMDAwMDAxFQIAEhgU...",
                "type": "text"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicator shown (up to 25s or until you send)\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `phoneNumberId` not linked to your organization | Verify the id |\n| `500` | Invalid or expired `messageId` | Use a `wamid` from a recent inbound message |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/meta/wabas/{wabaId}/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "Listar plantillas",
        "description": "Listar plantillas. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Plantillas"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/list-templates",
          "metadata": {
            "title": "Listar plantillas",
            "description": "Listar plantillas. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Listar plantillas"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/WabaId"
          },
          {
            "$ref": "#/components/parameters/PagingLimit"
          },
          {
            "$ref": "#/components/parameters/PagingAfter"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nombre usado para filtrar o identificar el recurso.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Estado de Meta usado para filtrar los resultados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Page returned\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `wabaId` not linked to your organization | Verify the id |\n| `400` | Invalid query parameter or `fields` expression | Correct the query |\n| `502` | Graph unreachable or timed out | Retry with backoff |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "paging"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "language",
                          "status",
                          "category",
                          "components"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "components": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "type",
                                "text"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "text": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object",
                      "required": [
                        "cursors",
                        "next"
                      ],
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "required": [
                            "before",
                            "after"
                          ],
                          "properties": {
                            "before": {
                              "type": "string"
                            },
                            "after": {
                              "type": "string"
                            }
                          }
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "778899001122",
                      "name": "order_update",
                      "language": "en",
                      "status": "APPROVED",
                      "category": "UTILITY",
                      "components": [
                        {
                          "type": "BODY",
                          "text": "Hi {{1}}, your order is on its way."
                        }
                      ]
                    },
                    {
                      "id": "778899001123",
                      "name": "diwali_offer",
                      "language": "en",
                      "status": "APPROVED",
                      "category": "MARKETING",
                      "components": [
                        {
                          "type": "BODY",
                          "text": "Flat {{1}} off this Diwali."
                        }
                      ]
                    }
                  ],
                  "paging": {
                    "cursors": {
                      "before": "MAZDZD",
                      "after": "MjQZD"
                    },
                    "next": "https://graph.facebook.com/v25.0/1029384756/message_templates?after=MjQZD"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Crear una plantilla",
        "description": "Crear una plantilla. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Plantillas"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/create-template",
          "metadata": {
            "title": "Crear una plantilla",
            "description": "Crear una plantilla. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Crear una plantilla"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/WabaId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "language",
                  "category",
                  "components"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "components": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "format",
                        "text",
                        "example"
                      ],
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string"
                        },
                        "example": {
                          "type": "object",
                          "required": [
                            "header_text"
                          ],
                          "properties": {
                            "header_text": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "description": "```json\n{\n  \"name\": \"order_update\",\n  \"language\": \"en\",\n  \"category\": \"UTILITY\",\n  \"components\": [\n    {\n      \"type\": \"HEADER\",\n      \"format\": \"TEXT\",\n      \"text\": \"Order {{1}}\",\n      \"example\": {\n        \"header_text\": [\n          \"A-1042\"\n        ]\n      }\n    },\n    {\n      \"type\": \"BODY\",\n      \"text\": \"Hi {{1}}, your order is on its way.\",\n      \"example\": {\n        \"body_text\": [\n          [\n            \"Ravi\"\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"FOOTER\",\n      \"text\": \"Acme Retail\"\n    }\n  ]\n}\n```"
              },
              "example": {
                "name": "order_update",
                "language": "en",
                "category": "UTILITY",
                "components": [
                  {
                    "type": "HEADER",
                    "format": "TEXT",
                    "text": "Order {{1}}",
                    "example": {
                      "header_text": [
                        "A-1042"
                      ]
                    }
                  },
                  {
                    "type": "BODY",
                    "text": "Hi {{1}}, your order is on its way.",
                    "example": {
                      "body_text": [
                        [
                          "Ravi"
                        ]
                      ]
                    }
                  },
                  {
                    "type": "FOOTER",
                    "text": "Acme Retail"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template submitted for review\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `wabaId` not linked to your organization | Verify the id |\n| `400` | Duplicate name+language, missing `example` values, invalid category, or malformed components | Read `error.error_user_msg` |\n| `502` | Graph unreachable or timed out | Retry with backoff |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "status",
                    "category"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "778899001125",
                  "status": "PENDING",
                  "category": "UTILITY"
                }
              }
            }
          }
        }
      }
    },
    "/meta/wabas/{wabaId}/templates/all": {
      "get": {
        "operationId": "listAllTemplates",
        "summary": "Listar todas las plantillas",
        "description": "Listar todas las plantillas. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Plantillas"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/list-all-templates",
          "metadata": {
            "title": "Listar todas las plantillas",
            "description": "Listar todas las plantillas. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Listar todas las plantillas"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/WabaId"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nombre usado para filtrar o identificar el recurso.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Estado de Meta usado para filtrar los resultados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Fields"
          }
        ],
        "responses": {
          "200": {
            "description": "All templates returned as a flat array\n\n**Failure responses**\n\n| **Status** | **Meaning** | **Action** |\n| --- | --- | --- |\n| `401` | Missing, invalid, or expired bearer token | Re-authenticate |\n| `404` | `wabaId` not linked to your organization | Verify the id |\n| `400` | Invalid query parameter | Correct the query |\n| `502` | Graph unreachable or timed out mid-pagination | Retry; partial pages are not returned |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "language",
                      "status"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "language": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": "778899001122",
                    "name": "order_update",
                    "language": "en",
                    "status": "APPROVED"
                  },
                  {
                    "id": "778899001123",
                    "name": "diwali_offer",
                    "language": "en",
                    "status": "APPROVED"
                  },
                  {
                    "id": "778899001124",
                    "name": "payment_reminder",
                    "language": "en",
                    "status": "PENDING"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/meta/wabas/{wabaId}/templates/library": {
      "post": {
        "operationId": "createTemplateFromLibrary",
        "summary": "Crear una plantilla desde la biblioteca de Meta",
        "description": "Crear una plantilla desde la biblioteca de Meta. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
        "tags": [
          "Plantillas"
        ],
        "x-mint": {
          "href": "/es/api-reference/meta/operations/create-template-from-library",
          "metadata": {
            "title": "Crear una plantilla desde la biblioteca de Meta",
            "description": "Crear una plantilla desde la biblioteca de Meta. Consulta los parámetros, el ejemplo y las respuestas disponibles para esta operación.",
            "sidebarTitle": "Crear una plantilla desde la biblioteca de Meta"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/WabaId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "libraryTemplateName",
                  "template"
                ],
                "properties": {
                  "libraryTemplateName": {
                    "type": "string"
                  },
                  "template": {
                    "type": "object",
                    "required": [
                      "name",
                      "language",
                      "category"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "language": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
[...]
